*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: #262a2f;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.qr-generator{
    width: 100%;
    max-width: 350px;
    height: 100%;
    background-color: white;
    color: black;
    padding: 2rem 2.5rem;
    border-radius: 10px;
}

h2{
    margin-bottom: 1rem;
}

p{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.qr-text{
    width: 95%;
    margin-top: 1rem;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.377);
}

.generate-btn{
    width: 102%;
    margin-top: 1rem;
    padding: 15px;
    font-size: 18px;
    background-color: #262a2f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.download-btn{
    width: 96%;
    text-align: center;
    display: none;
    text-decoration: none;
    margin-top: 1rem;
    padding: 10px;
    font-size: 15px;
    background-color: #3598DB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.imgBox{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

.show{
    max-height: 300px;
    margin-top: 1rem;
}
#qr-code{
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-radius: 5px;
    padding: 1rem;
}

.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-3px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(3px);
    }
    100%{
        transform: translateX(0);
    }
}
