*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #A86CC5;
    overflow-x: hidden;
}

.quiz{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.quiz-container{
    background-color: white;
    color: black;
    width: 40%;
    height: 100%;
}