@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* css/quote.css */
*{
    padding: 0;
    margin: 0;
    font-family: "Playfair Display SC", serif;
}

body{
    background-color: #5372EF;
    overflow-x: hidden;
}

.quote-box{
    width: 45%;
    height: 50vh;
    background-color: white;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    text-align: center;
    padding: 2rem 2.5rem;
}

.quote-box h1{
    font-size: 35px;
    margin-bottom: 2rem;
}

.quote-box h1::after{
    content: "";
    width: 75px;
    height: 4px;
    border-radius: 50px;
    background-color: blue;
    position: absolute;
    bottom: 77%;
    left: 50%;
    transform: translateX(-50%);
}

.quote{
    font-size: 20px;
    margin-top: 3rem;
}

.quote::after, .quote::before{
    content: '"';
}

.author{
    position: relative;
    top: 36%;
    left: 35%;
}
.author::before{
    content: "--";
}

.footer{
    margin-top: 20%;
}
.footer hr{
    margin-bottom: 1rem;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.icons i{
    color: rgba(0, 0, 255, 0.842);
    padding: 13px;
    border: 1px solid blue;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

.icons i:hover{
    color: white;
    background-color: rgba(0, 0, 255, 0.671);
}

.new-quote{
    background-color: #5372EF;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}