@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* css/quote.css */
*{
    padding: 0;
    margin: 0;
    font-family: "Playfair Display SC", serif;
}

body{
    background-color: #5372EF;
    overflow-x: hidden;
}
.quote-box {
    width: 45%;
    min-height: 50vh; /* Change height to min-height */
    background-color: white;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column; /* Added */
    justify-content: center; /* Added */
}

.quote-box h1 {
    font-size: 3vw; /* Responsive font size */
    margin-bottom: 1rem;
}




.quote-box h1::after{
    content: "";
    width: 75px;
    height: 4px;
    border-radius: 50px;
    background-color: blue;
    position: absolute;
    bottom: 81%;
    left: 50%;
    transform: translateX(-50%);
}


.quote {
    font-size: 2vw; /* Responsive font size */
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.quote::after, .quote::before{
    content: '"';
}

.author {
    font-size: 1.5vw;
    margin-top: 1rem;
    position: relative;
    top: 36%;
    left: 30%;
}

.author::before{
    content: "--";
}

.footer {
    margin-top: 2rem; /* Adjusted */
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.footer hr{
    margin-bottom: 1rem;
}

.icons i{
    color: rgba(0, 0, 255, 0.842);
    padding: 13px;
    border: 1px solid blue;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

.icons i:hover{
    color: white;
    background-color: rgba(0, 0, 255, 0.671);
}

.new-quote{
    background-color: #5372EF;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}