*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.785), rgba(0, 0, 0, 0.789)), url(../Assets/home.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: white;;
}

.logo{
    height: 80px;
}

.home ul li a.disabled{
    font-size: 18px;
    font-weight: 500;
    opacity: 0.8;
}

.home ul li a.active{
    font-weight: 800;
    font-size: 18px;
}

.content{
    width: 60%;
    padding-top: 7%;
}

.heading{
    font-size: 40px;
    font-weight: 600;
}

.heading span{
    color: orangered;
    font-size: 42px;
}

.text{
    font-size: 18px;
    margin: 1.5rem 0;
}