*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'my-fonts';
    src: url('/Assets/fonts/ExquisiteCorpse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'my-fonts', sans-serif;
    overflow: hidden;
}

.hero{
    height: 100vh;
    width: 100vw;
    background-image: url(../Assets/bg.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    height: 12vh;
    background-color: #8A0303;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.list{
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

.list li{
    display: inline;
    font-size: 20px;
}

.list li a{
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

.list li a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: yellow;
    transition: width 0.2s;
    margin-top: 5px;
  }

.list li a:hover::after {
    width: 100%;
  }

.logo-box{
    margin-left: 50px;
    width: 130px;
}

.logo{
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 2s ease;
}

.logo:hover{
    transform: rotateY(360deg);
}


.login{
    width: 50px;
    height: 40px;
    transition: transform 0.5s ease;
}

.login:hover{
    transform: scale(1.5);
}

.content{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FF0000;
}

.content h1{
    font-size: 60px;
      text-shadow: 
        -2px -2px 0 #fff,  
         2px -2px 0 #fff,
        -2px  2px 0 #fff,
         2px  2px 0 #fff;
    margin-bottom: 20px;
}

.content span{
    font-size: 50px;
    margin-top: 20px;
    text-shadow: 
    -2px -2px 0 #fff,  
     2px -2px 0 #fff,
    -2px  2px 0 #fff,
     2px  2px 0 #fff;
}

.footer-text{
    color: #FFC107;
}